.calender {}

.calender-box {}

.calender-box .title {
    margin: 20px 0;
}

.calender-box .title h2 {
    font-size: 20px;
}

.filter {
    width: max-content;
    position: absolute;
}

.filter .search-input {
    margin-right: 22px;
}

.filter .search-input input {
    border: 1px solid #ccc;
    padding: 7px 19px 7px 36px;
    width: 346px;
    outline: none;
    border-radius: 7px;
    height: 42px;
}

.filter .search-input svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 7px;
}

.rbc-header {
    padding: 9px !important;
    min-height: 40px !important;
}

.rbc-date-cell {
    text-align: left !important;
    padding: 13px;
}

.rbc-calendar {
    margin-top: 85px;
}

.rbc-toolbar {
    justify-content: end !important;
    margin-right: 230px;
}

.rbc-toolbar .rbc-toolbar-label {
    flex-grow: 0 !important;
}

.choose {
    width: max-content;
    right: 17px;
    display: flex;
    align-items: center;
}

select {}

select {
    outline: none;
    background-color: #8080806e;
    margin: 0 5px;
    border-radius: 8px;
    padding: 5px 10px;
    min-width: 95px;
    text-transform: capitalize;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 100%;
    line-height: 33px;
}

.d-w-m,
.select {
    height: 40px;
    position: relative;
}

.d-w-m svg,
.select svg {
    position: absolute;
    right: 10px;
    top: 51%;
    font-size: x-large;
    transform: translateY(-50%);
}

.css-1utx3w7 {
    width: max-content;
}

button.chakra-button.bg-grayD.css-p7mkev,
button.chakra-button.css-p7mkev {
    width: 40px;
    height: 40px;
    font-size: x-large;
    border-radius: 7px;
    color: #1a1a1aad;
    background-color: #ccc;
    margin: 0 5px;
}