.calender {}

.calender-box {
    padding: 0 30px;
}

.calender-box .title {
    margin: 20px 0;
}

.calender-box .title h2 {
    font-size: 20px;
}

.filter {
    width: max-content;
}

.filter .search-input {
    margin-right: 22px;
}

.filter .search-input input {
    border: 1px solid #ccc;
    padding: 7px 19px 7px 36px;
    width: 346px;
    outline: none;
    border-radius: 7px;
    height: 42px;
    font-size: 13px;
}

.filter .search-input svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 7px;
}

.rbc-header {
    padding: 9px !important;
    min-height: 40px !important;
}

.rbc-date-cell {
    text-align: left !important;
    padding: 13px;
}

.rbc-calendar {
    margin-top: 25px;
}

.rbc-toolbar {
    justify-content: end !important;
    margin-right: 230px;
}

.rbc-toolbar .rbc-toolbar-label {
    flex-grow: 0 !important;
}

.choose {
    width: max-content;
    right: 17px;
    display: flex;
    align-items: center;
}

span[role='columnheader'] {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #374151;
}

span.rbc-label {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #6B7280;
}

select {
    outline: none;
    margin: 0 5px;
    background-color: #F3F4F6;
    color: #4B5563;
    border-radius: 8px;
    padding: 5px 10px;
    min-width: 95px;
    text-transform: capitalize;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 100%;
    line-height: 33px;
}

.d-w-m,
.select {
    height: 40px;
    position: relative;
}

.d-w-m svg,
.select svg {
    position: absolute;
    right: 10px;
    top: 51%;
    font-size: x-large;
    transform: translateY(-50%);
    color: #4B5563;
    z-index: 999;
}

.css-1utx3w7 {
    width: max-content;
}

button.chakra-button.bg-grayD.css-p7mkev,
button.chakra-button.css-p7mkev {
    width: 40px;
    height: 40px;
    font-size: x-large;
    border-radius: 7px;
    color: #1a1a1aad;
    background-color: #F3F4F6;
    margin: 0 5px;
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
    padding: 0;
}

.rbc-day-slot .rbc-events-container {
    margin-right: 0px;
}

.rbc-day-slot .rbc-event-label {
    /* width: 206px; */
    height: 24px;
    width: 100% !important;
    padding: 4px 8px 4px 8px;
    border-bottom: 1px dashed;
    text-align: start;
    padding: 4px 8px 4px 8px;
}

.rbc-day-slot .rbc-event-content {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    padding: 8px;
}

@media (max-width: 1571px) {
    .toolbar {
        justify-content: center;
        flex-direction: column;
    }

    select {
        font-size: 13px;
        padding: 0 6px;
        min-width: 77px;
    }

    .d-w-m svg,
    .select svg {
        font-size: 18px;
    }
}

@media (max-width: 1280px) {
    .filter .search-input input {
        width: 277px;
        height: 34px;
    }

    .d-w-m,
    .select {
        height: 34px;
    }

    button.chakra-button.bg-grayD.css-p7mkev,
    button.chakra-button.css-p7mkev {
        width: 34px;
        height: 34px;
        font-size: 17px;
    }
}