/********************Welcome***********************/
.home .welcome {
    width: 80%;
}

.home .search-input {}

.home .search-input input {
    border: 1px solid #ccc;
    padding: 7px 19px 7px 36px;
    width: 346px;
    outline: none;
    border-radius: 7px;
    height: 42px;
}

.home .search-input svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 7px;

}

.home .move-section a {
    margin: 10px 20px 15px 0;
    display: inline-flex;
    position: relative;
}

.home .move-section a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -16px;
}

@media (max-width: 1280px) {
    .home .welcome {
        width: 100%;
        padding-right: 16px;
    }
}

/********************Tests***********************/
.tests .all-tests {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
    gap: 12px;
}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (max-width: 1280px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}

/********************Subjects***********************/
.home .all-subjects .subjects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
    gap: 12px;
}

@media (max-width: 768px) {}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}

/********************Lessons***********************/
.home .lessons .course span {
    width: 39px;
    height: 38px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}

/********************Right Side***********************/
.right-side {
    border-left: 1px solid;
    padding-left: 10px;
}

.right-side .details .name-class .name {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
}

.right-side .details .name-class .class {
    font-size: 12px;
    text-transform: capitalize;
    color: gray;
    font-weight: 700;
    display: block;
    margin: 0;
}

.right-side .teachers .box {
    padding: 6px 10px;
    margin-bottom: 18px;
}

.right-side .teachers .notice {
    font-size: 14px;
    color: #929292;
    margin: 5px 0;
}

.right-side .teachers .unit {
    font-weight: bold;
}

.right-side .calender .date {
    width: 55px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
}

.right-side .calender .date b {
    text-transform: capitalize;
    margin-top: -3px;
    font-weight: 500;
}

.right-side .details .badges {}

.right-side .details .badges strong {
    line-height: 13px;
    font-size: 11px;
    font-weight: 500;
    margin-left: 2px;
}

.right-side .profile-info .name-class {
    margin-left: 9px;
}

@media (max-width: 768px) {
    .right-side {
        grid-column: span 2;
    }
}