.home .search-input {
    margin-right: 22px;
}

.home .search-input input {
    border: 1px solid #ccc;
    padding: 7px 19px 7px 36px;
    width: 346px;
    outline: none;
    border-radius: 7px;
    height: 42px;
}

.home .search-input svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 7px;

}

.home .move-section a {
    margin: 10px 20px 15px 0;
    display: inline-flex;
    position: relative;
}

.home .move-section a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -16px;
}