.home .courses {
    position: relative;
}

.home .move::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    margin-top: 42px;
}

.home .move a {
    position: relative;
}

.home .move a.active::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    margin-top: 32px;
    left: 0;
    z-index: 55;
}

.lessons .lesson {
    position: relative;
}

.lessons .lesson span {
    position: relative;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lessons .lesson span::after,
.lessons .lesson span::before {
    content: "";
    height: 25px;
    width: 2px;
    position: absolute;
    z-index: -1;
}

.lessons .lesson:last-of-type span:after,
.lessons .lesson:last-of-type span:before {
    height: 15px;
}

.lessons .lesson:not(:first-of-type) span::before {
    top: -100%;
}

.lessons .lesson span::after {
    top: 100%;
}

/********************Right Side***********************/
.right-side .details .name-class .name,
.right-side .teachers .all-teachers .teacher .name {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
}

.right-side .details .name-class .class,
.right-side .teachers .all-teachers .teacher .subject {
    font-size: 12px;
    text-transform: capitalize;
    color: gray;
    font-weight: 700;
    display: block;
    margin: 0;
}



.right-side .calender .date {
    width: 45px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
}

.right-side .calender .date b {
    text-transform: capitalize;
    margin-top: -3px;
    font-weight: 500;
}

.right-side .details .badges {
    width: 143px;
}

.right-side .details .badges strong {
    line-height: 13px;
    font-size: 11px;
    font-weight: 500;
    margin-left: 2px;
}

.right-side .teachers .all-teachers .teacher,
.right-side .all-progress .progressBar {
    padding: 7px 15px;
    height: 60px;
    font-size: 13px;
}

.right-side .teachers .all-teachers .teacher:last-of-type,
.right-side .all-progress .progressBar:last-of-type {
    border-bottom: none;
}

.right-side .all-progress .progressBar span {
    font-size: 12px;
}

.right-side .all-progress .progressBar .progress .progress-bar {
    text-align: end;
    padding-right: 5px;
    color: white;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
}