.list .dash-links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.list .dash-links li a {
    font-weight: 500;
}

.list .dash-links li a svg {
    margin-right: 13px;
}