.message-section {}

/*****************************SideBar Message***********************************/

.sideBar-msg {
    width: 350px;
    height: calc(100vh - 56px);
    background: #BDBDBD;
    padding: 20px;
}

.sideBar-msg .title {
    margin: 0 0 20px 0;
}

.sideBar-msg .title h1 {
    font-weight: bold;
    font-size: 25px;
}

.sideBar-msg .box-search {
    width: 100%;
    height: 40px;
    position: relative;
}

.sideBar-msg .box-search input {
    width: 100%;
    padding: 5px 15px 5px 32px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #00000038;
    outline: none;
}

.sideBar-msg .box-search img {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    left: 9px;
    width: 17px;
}

.sideBar-msg .members {
    margin-top: 15px;
}

.sideBar-msg .members .member {
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
}

.sideBar-msg .members .member:hover {
    background-color: #8080802e;
}

.sideBar-msg .members .member .image {
    width: 50px;
    height: 50px;
}

.sideBar-msg .members .member .image img {
    background-color: greenyellow;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.sideBar-msg .members .member .info {
    margin-left: 10px;
}

.sideBar-msg .members .member .info .name {}

.sideBar-msg .members .member .info .name h4 {
    text-transform: capitalize;
    font-weight: 600;
}

.sideBar-msg .members .member .info .last-msg {
    font-size: 15px;
    opacity: .8;
}

.sideBar-msg .members .member .info .last-msg .msg {}

.sideBar-msg .members .member .info .last-msg .date {
    font-size: 12px;
    margin-left: 5px;
    color: #404040;
}

/*****************************SideBar Message***********************************/
.rightSide-msg {
    margin: 0 auto;
    position: relative;
}

.rightSide-msg .messages {
    width: 600px;
}

.rightSide-msg .messages .message {
    margin: 14px 0px;
}

.rightSide-msg .messages .message img {}

.rightSide-msg .messages .message span {
    padding: 10px;
    border-radius: 4px;
}

.rightSide-msg .input-msg {
    position: absolute;
    bottom: 22px;
    width: 100%;
}

.rightSide-msg .input-msg input {
    width: 100%;
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
    background-color: #8080801f;
}