@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@306&family=Caveat:wght@600;700&family=Chakra+Petch:ital,wght@0,400;0,600;1,600&family=League+Spartan:wght@900&family=Noto+Sans+Arabic:wght@100..900&family=Oswald:wght@200..700&family=Outfit:wght@200;300;400;800&family=Poppins:wght@400;500&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #1865F2;
    --second-color: #3B4A78;
    --link-color: #1865F2;
    --required-color: #F54747;
    --error-background: #f5474742;
}

::placeholder {
    color: #CCD2E6;
    letter-spacing: 0.3px;
}

a {
    text-decoration: none !important;
}

body {
    font-family: "Noto Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body.arabic {
    direction: rtl;
}

.outlet {
    width: 443px;
    position: relative;
    margin: 0 auto;
}

/***************************** ERROR *****************************/
fieldset.username.error::after {
    content: attr(data-error);
    position: absolute;
    height: 20px;
    width: 100%;
    color: var(--required-color);
    font-size: 12px;
    bottom: -7px;
}

fieldset.username.error input {
    border-color: var(--required-color) !important;
    background-color: var(--error-background) !important;
}

.inputs fieldset.username.error ::placeholder {
    color: var(--required-color) !important;
}

/***************************** Terms && Privacy *****************************/
.steps p.terms {
    text-align: center;
    /* margin: 14px 38px 6px; */
}

.register p.terms {
    left: 50%;
    transform: translateX(-50%);
}

p.terms {
    font-family: Noto Sans;
    color: var(--second-color);
    font-weight: 400 !important;
    opacity: 1 !important;
    width: 350px;
    position: absolute;
    bottom: 23px;
    font-size: 14px !important;
    line-height: 19.6px;
    text-align: center;
}

p.terms a {
    font-weight: 500;
}

.login .form {
    min-height: 100vh;
}

/***************************** Media Queries *****************************/

@media (max-width : 768px) {
    .outlet {
        width: 414px;
        margin: 0;
        min-height: 800px;
    }

    .page {
        justify-content: center !important;
    }

    .wrapper {
        Width: 100% !important;
    }

    .register {
        padding: 30px 15px !important;
    }

    .login {
        display: block;
        justify-content: center !important;
    }
}

@media(max-width: 640px) {
    p.terms {
        width: 300px !important;
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
}

@media (min-width: 640px) and (max-width : 768px) {}

@media (min-width: 768px) {
    .steps p.terms {
        margin: 14px 38px 6px;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}